# Ignore build output
bin/
obj/

# Ignore user-specific files
*.user

# Ignore Visual Studio files
.vs/
*.suo
*.userprefs
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.sln.docstates
*.csproj.user
*.VC.db
*.VC.VC.opendb
*.VC.VC.opendb.backup

# Ignore NuGet package directory
packages/

# Ignore Resharper files
_ReSharper*/
*.ReSharper*

# Ignore Windows Installer XML (WiX) files
*.wixproj
*.wixobj
*.wixpdb
*.wixout
/.vs/
# Ignore log files
*.log

# Ignore temporary files
*.bak
*.cache
*.tmp

# Ignore miscellaneous files
Thumbs.db
[Tt]humbs.db
*.DS_Store
*.dat
*.swp
*.bak
*~